@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --gray: #323232;
  --orange: #f8a118;
  --gradient: linear-gradient(var(--orange),var(--yellow));
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  color: black;
  font-family: 'Heebo';
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--gray);
  grid-gap: 1em;
  padding: 1em 1em;
  font-size: 1.2em;
}

header i {
  color: white;
  padding: 1em;
  background: var(--orange);
  border-radius: 100px;
}

header .quoteButton {
  font-size: 1.2em;
  margin-left: 3em;
  width: 15em;
  height: 3em;
  background: var(--gray);
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .topLogo {
  max-width: 200px;
}

header nav a {
  color: white;
  font-family: 'heebo';
  text-decoration: none;
  border-right: 1px solid #fff;
  padding-right: 2em;
}

header nav a:nth-child(5) {
  border-right: none;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .modal {
  position: fixed;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-gap: 0em;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding-top: 4em;
}

main .modal .modalContent {
  padding: 5em;
  border: 5px solid #fff;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .modal img {
  max-width: 400px;
  padding: 1em 2em;
}

main .modal .modalText {
  padding: 1em;
}

main .modal .modalInput {
  padding: 1em;
}

main .openModal {
  width: 15em;
  height: 3em;
  background: var(--gray);
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 2em;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

main .openModal:hover {
  background: var(--orange);
  color: white;
  border: 2px solid var(--gray);
}
/*# sourceMappingURL=styles.css.map */