@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  overflow-x: hidden;
}

::-moz-selection {
  background: var(--orange);
}

::selection {
  background: var(--orange);
}

:root {
  --gray: #323232;
  --orange: #f8a118;
  --gradient: linear-gradient(var(--orange),var(--yellow));
  --hue: 225;
  --saturation: 40;
  --lightness: 65;
  --sidebar-width: 188px;
  --sidebar-fixed-height: 700px;
  --control-bar-height: 29px;
  --control-space-between: 1.5rem;
  --button-bg: var(--gray-dark-4);
  --button-color: white;
  --button-icon: currentColor;
  --button-hover-bg: var(--gray-dark-3);
  --button-hover-color: var(--button-color);
  --button-hover-icon: var(--button-icon);
  --button-default-bg: var(--button-bg);
  --button-default-color: var(--button-color);
  --button-border-width: 3px;
  --button-border-radius: 4px;
  --button-margin-block: 1px;
  --button-margin-inline: 10px;
  --button-padding-inline: 16px;
  --button-padding-block: 10px;
  --font-family-normal: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
  --font-family-header: Telefon Black, Sans-Serif;
  --font-family-header-alt: Telefon, Sans-Serif;
  --font-family-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  --green: #47cf73;
  --green-light: #d3ffe1;
  --green-dark: #248c46;
  --yellow: #ffdd40;
  --yellow-light: #f9e9a2;
  --yellow-dark: #d9b200;
  --purple: #ae63e4;
  --purple-light: #be9fe4;
  --purple-dark: #754cac;
  --red: #ff3c41;
  --red-very-light: #ffcfcb;
  --red-light: #f19994;
  --red-dark: #a00808;
  --blue: #0ebeff;
  --blue-light: #76daff;
  --blue-dark: #3d88c3;
  --gray: #9b9dad;
  --gray-light-6: #f1f1f3;
  --gray-light-5: #e3e4e8;
  --gray-light-4: #d5d7de;
  --gray-light-3: #c7c9d3;
  --gray-light-2: #b7bbc8;
  --gray-light-1: #aaaebc;
  --gray-dark-1: #868ca0;
  --gray-dark-2: #717790;
  --gray-dark-3: #5a5f73;
  --gray-dark-4: #444857;
  --gray-dark-5: #2c303a;
  --gray-dark-6: #1e1f26;
  --gray-dark-7: #131417;
  --gray-dark-8: #0a0a0c;
  --gray-dark-9: #010101;
  --neu: #636363;
  --neumorphic-reach: 30;
  --neumorphic-blur: 60;
  --neumorphic-intensity: 0.25;
  --border-width: 0;
  --border-intensity: 0.1;
  --border-radius: 25;
  --x: calc(var(--neumorphic-reach) * 1px);
  --y: calc(var(--neumorphic-reach) * 1px);
  --blur: calc(var(--neumorphic-blur) * 1px);
  --x2: calc(var(--neumorphic-reach) * -1px);
  --y2: calc(var(--neumorphic-reach) * -1px);
  --neugray: #797a88;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  color: white;
  font-family: 'Heebo' !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--gray);
  grid-gap: 1em;
  padding: 1em 1em;
  font-size: 1.2em;
  font-family: 'Heebo' !important;
  -webkit-box-shadow: 0 0 10px 1px var(--neu);
          box-shadow: 0 0 10px 1px var(--neu);
  z-index: 1;
}

header i {
  z-index: 1;
  background: #ffffff;
  font-weight: 600;
  font-style: italic;
  border-radius: 0px;
  text-transform: uppercase;
  -webkit-transform: skewx(20deg);
  transform: skewx(20deg);
  cursor: pointer;
  top: -6px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  color: white;
  padding: 1em;
  background: transparent;
  border-radius: 100px;
}

header i::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--orange);
  height: 100%;
  width: 100%;
  z-index: -3;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

header i::after {
  content: '';
  position: absolute;
  top: 10px;
  left: -10px;
  background: var(--neugray);
  height: 100%;
  width: 100%;
  z-index: -3;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

header i:hover::before {
  background: var(--neu);
  -webkit-transform: translate(-5px, 5px);
          transform: translate(-5px, 5px);
}

header i:hover::after {
  background: var(--orange);
}

header .fa-star-of-david:before, header .fa-flag-usa:before {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
}

header .quoteButton {
  z-index: 1;
  background: none;
  font-weight: 600;
  font-style: italic;
  border-radius: 0px;
  text-transform: uppercase;
  -webkit-transform: skewx(20deg);
  transform: skewx(20deg);
  cursor: pointer;
  top: -6px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  font-size: 1.2em;
  margin-left: 3em;
  position: relative;
  width: 15em;
  min-width: 270px;
  height: 3em;
  font-weight: 600;
  color: white;
  border: 0px solid white;
  cursor: pointer;
  margin-right: 1em;
  font-family: 'Heebo' !important;
  transition: 500ms ease-in-out;
}

header .quoteButton::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -12px;
  background: var(--orange);
  height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: -3;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

header .quoteButton::after {
  content: attr(data-definition);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--neugray);
  height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: -3;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .quoteButton:hover::before {
  background: var(--neu);
}

header .quoteButton:hover::after {
  background: var(--orange);
  -webkit-transform: translate(-5px, 5px);
          transform: translate(-5px, 5px);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Heebo' !important;
}

header nav .topLogo {
  max-width: 200px;
}

header nav a {
  color: white;
  font-family: 'Heebo' !important;
  text-decoration: none;
  border-right: 1px solid var(--neu);
  padding-right: 4em;
  font-family: 'Heebo' !important;
}

header nav a:nth-child(5) {
  border-right: none;
}

main {
  height: 88.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Heebo' !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--gray);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .modal {
  position: fixed;
  z-index: 10;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Heebo' !important;
  grid-gap: 0em;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding-top: 4em;
}

main .modal .modalContent {
  background: var(--neugray);
  padding: 10em;
  border: none;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Heebo' !important;
  -webkit-transform: skewx(20deg);
  transform: skewx(20deg);
  position: relative;
}

main .modal .modalContent::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--orange);
  top: 20px;
  left: -20px;
  position: absolute;
  z-index: -1;
}

main .modal .modalContent::after {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--neugray);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

main .modal .modalContent .modalInput {
  display: none;
}

main .modal img {
  max-width: 400px;
  padding: 1em 2em;
  -webkit-transform: skewx(-20deg);
          transform: skewx(-20deg);
}

main .modal .fileInputArea {
  -webkit-transform: skewx(-20deg);
          transform: skewx(-20deg);
}

main .modal .modalText {
  padding: 1em;
  font-family: 'Heebo' !important;
}

main .modal .modalInput {
  padding: 1em;
  font-family: 'Heebo' !important;
}

main .openModal {
  width: 15em;
  height: 3em;
  z-index: 1;
  background: none;
  font-weight: 600;
  font-style: italic;
  border-radius: 0px;
  text-transform: uppercase;
  -webkit-transform: skewx(20deg);
  transform: skewx(20deg);
  cursor: pointer;
  top: -6px;
  transition: 500ms ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  font-family: 'Heebo' !important;
  color: white;
  border: none;
  outline: none;
  font-size: 2em;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

main .openModal::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -12px;
  background: var(--orange);
  height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: -3;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

main .openModal::after {
  content: attr(data-definition);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--neugray);
  height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: -3;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .openModal:hover::before {
  background: var(--neu);
}

main .openModal:hover::after {
  background: var(--orange);
  -webkit-transform: translate(-5px, 5px);
          transform: translate(-5px, 5px);
}

main .openModal:active {
  color: var(--neu);
  text-transform: uppercase;
  border: 0px solid var(--neu);
}

.dropZone {
  height: 15em;
  width: 15em;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  font-family: 'Heebo' !important;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-gap: 0.7em;
  font-style: italic;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 3em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  outline: none;
  border-radius: 10px;
  border: 4px dashed #ffffff;
  -webkit-box-shadow: inset 0 0 20px 1px var(--gray);
          box-shadow: inset 0 0 20px 1px var(--gray);
}

.neu {
  font-family: 'Heebo' !important;
  -webkit-box-shadow: inset 0 0 20px 1px var(--neu);
          box-shadow: inset 0 0 20px 1px var(--neu);
}

.introContent {
  padding: 5em 5em 10em 0em;
  background: url(./images/Hat-Girl.png), #9b9dad;
  background-size: contain;
  width: 550px;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.container {
  max-width: 17em;
  padding-left: 1em;
}

.container h4 {
  font-size: 1.6em;
  border-bottom: 3px solid #797a88;
  padding-bottom: .5em;
  margin-bottom: .2em;
}

.container p {
  font-size: 1.2em;
  padding-top: .5em;
  padding-left: .5em;
}

main {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

main .modal {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
/*# sourceMappingURL=styles.css.map */