// Import Heebo Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --gray: #323232;
    --orange: #f8a118;
    --gradient: linear-gradient(var(--orange),var(--yellow));
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background: white;
    color: black;
    font-family: 'Heebo';
    flex-direction: column;
}

// Header Component
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--gray);
    grid-gap: 1em;
    padding: 1em 1em;
    font-size: 1.2em;
    i {
        color: white;
        padding: 1em;
        background: var(--orange);
        border-radius: 100px;
    } .quoteButton {
        font-size: 1.2em;
        margin-left: 3em;
        width: 15em;
        height: 3em;
        background: var(--gray);
        color: white;
        border: 1px solid white;
        border-radius: 3px;
    } nav {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        .topLogo {
            max-width: 200px;
        } a {
            color: white;
            font-family: 'heebo';
            text-decoration: none;
            border-right: 1px solid #fff;
            padding-right: 2em;
            &:nth-child(5) {
                border-right: none;
            }
        }
    }
}


main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
        .modalContent {
            padding: 5em;
            border: 5px solid #fff;
            border-radius: 25px;
            display: flex;
            align-items: center;
            .modalInput {
                display: none;
            }
        } 
        position: fixed;
        color: #fff;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        grid-gap: 0em;
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        padding-top: 4em;
        img {
            max-width: 400px;
            padding: 1em 2em;
        } .modalText {
            padding: 1em;
        } .modalInput {
            padding: 1em;
        }
    } .openModal {
        width: 15em;
        height: 3em;
        background: var(--gray);
        color: white;
        border: 2px solid white;
        border-radius: 15px;
        font-size: 2em;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        transition: 500ms ease-in-out;
        &:hover {
            background: var(--orange);
            color: white;
            border: 2px solid var(--gray);
        } // &::after {
        //     content: '';
        //     transform: scale(0,1);
        //     width: 100%;
        //     height: 100%;
        //     background: #fff;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     border-radius: 15px;
        //     transition: 500ms ease-in-out;
        //     transform-origin: left;
        //     z-index: -1;
        // } &:hover::after {
        //     border-radius: 15px;
        //     transform: scale(1,1);
        // }
    }
}

.dropZone {
    padding: 10em;
    background: transparent;
    color: white;
    border: 5px solid white !important;
    outline: none;
}
